absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
cholespy==0.1.2
chumpy==0.70
cycler==0.11.0
easydict==1.9
fastrlock==0.8
fire==0.4.0
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.3.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.46.0
idna==3.3
igl @ file:///home/conda/feedstock_root/build_artifacts/igl_1611531307820/work
importlib-metadata==4.11.3
joblib==1.1.0
kiwisolver==1.4.2
Markdown==3.3.7
matplotlib==3.5.2
multidict==6.0.2
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
polyscope==1.3.1
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.2
pyparsing==3.0.8
python-dateutil==2.8.2
pytorch-lightning==1.6.3
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-umfpack==0.3.2
scipy==1.8.0
sklearn==0.0
six==1.16.0
smplpytorch==0.0.8
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
torch==1.11.0+cu113
torch-scatter==2.0.9
torch-sparse==0.6.13
torch-tb-profiler==0.4.0
torchaudio==0.11.0+cu113
torchmetrics==0.8.2
torchvision==0.12.0+cu113
tqdm==4.64.0
trimesh==3.12.0
typing_extensions==4.2.0
urllib3==1.26.9
Werkzeug==2.1.2
yarl==1.7.2
zipp==3.8.0
robust-laplacian==0.2.4
potpourri3d==0.0.3

